@import "../base.css";

#editor-root {
    
    -fx-min-width: 800;
    -fx-pref-width: 800;
    
    -fx-min-height: 500;
    -fx-pref-height: 500;
    
}

#editor-back-button {
    -fx-min-width: 150;
}

#editor-start-button {
    -fx-border-radius: 50%;
    -fx-background-radius: 50%;
}